{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    施加管制
{% endblock %}


{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<p>到现在你可能明白如果每个人捕捞{{quota}} 条鱼，你们组的总收入和平均收入将会最大。因此，从此轮开始，你们将被实施一个管制
    ---限制最大允许捕捞量为{{quota}} 条。当捕捞超过{{quota}} 条，鱼将会被捕捞得太快（湖里的鱼将不可持续）。
    这就可能会导致每个人最终都获得更少的鱼。<b>为了执行这一管制，我们将对每个组员进行{{Constants.prob_detect}}％机率的随机抽查。对抽查到的人，
    超过{{quota}} 条后的每一条鱼都需要支付{{Constants.fine}} 分的惩罚</b>。 此次实验还剩下13轮，请耐心继续完成实验。

</p>
    </div>
</div>

{% next_button %}

{% endblock %}