{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
最后一轮
{% endblock %}

{% block content %}
<!--<p>
    Below are the extraction level for you and your groupmates:<br>
</p>

<table class="table">
  <tr>
      <th>Player</th>
      <th>Extraction</th>
  </tr>

  <tr>
          <td> your extraction </td>
          <td>{{ player.extraction }}</td>
  </tr>

  {% for other_player in group.get_players %}
      <tr>
          <td>{{ other_player.id_in_group }}</td>
          <td>{{ other_player.extraction }}</td>

  {% endfor %}
  </tr>
</table>-->
<div class="card bg-light m-3">
    <div class="card-body">
<p> 此前，在你作出捕捞决定的时候，你不能看到其他人的捕鱼量。从现在起，我们将告诉你其他组员的平均捕捞量，然后你决定自己的捕捞量。
    此轮你将面对9种不同的情形，并且你需要做９次决定。每个决定都是独立的。最后，我们会随机抽取其中一个情形，你此轮的报酬将取决你在这个情形中做的决定。请注意，你的捕捞量需要在０到{{max_fishh}}（含）之间。
</p>
    </div>
</div>

<div class="formlabel">你的组员平均捕捞了<b>０</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q1 %}
<div class="formlabel">你的组员平均捕捞了<b>5</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q2 %}
<div class="formlabel">你的组员平均捕捞了<b>10</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q3 %}
<div class="formlabel">你的组员平均捕捞了<b>15</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q4 %}
<div class="formlabel">你的组员平均捕捞了<b>20</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q5 %}
<div class="formlabel">你的组员平均捕捞了<b>25</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q6 %}
<div class="formlabel">你的组员平均捕捞了<b>30</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q7 %}
<div class="formlabel">你的组员平均捕捞了<b>35</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q8 %}
<div class="formlabel">你的组员平均捕捞了<b>40</b>条鱼，你此轮决均定捕捞多少条？</div>
{% formfield player.q9 %}


{% next_button %}

{% endblock %}


