{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    实验概览
{% endblock %}


{% block content %}
<!--<p>
Before we begin,  we want to thank you all for accepting this invitation and participating in this exercise.
The objective of this exercise is to understand how people make decisions related to the use of a shared natural resource.
    All the decisions you make, as well as all the other information you will provide us, will remain confidential.</p>-->

<div class="card bg-light m-3">
    <div class="card-body">
<p>欢迎参加！这个实验模拟一组人对共有资源如森林、水、或渔业等必须作出使用决策的情形。在报名参与的人员中，你被选中参加一个由{{Constants.players_per_group}}人组成的小组。实验结束后，你将会得到现金。
</p>

   <b>游戏描述:</b><br>
        <p>
        这个活动一共有19轮。在每一轮的开始，你们组的{{Constants.players_per_group}}个人将分享有200条鱼的渔业资源。每一轮中每个组员必须决定捕捞的数量，从0到{{max_fishh}}，
        即你可以捕捞0， 或1，或2，… 或{{max_fishh}}条。这些决定必须同时作出并且不能交流。每一轮的最后，湖里剩下的鱼将会翻一倍，直到湖的总容量200条。
        这些鱼将会在每个组员间平均分配。你所捕的每条鱼将得到1 分。
 </p>

      <b>报酬规则:</b> <br>
<p> 最后的报酬将取决于这19轮<b>积累</b>的分数.</p>
     <p> 28.5分=1元 </p>


<p> <b>例子：</b><br>
    假设在某一轮你决定捕捞10条鱼，其他的组员一共捕捞了40条。结果湖里将剩下150条鱼。
    此轮的最后，湖里的鱼将翻一翻，直到湖的容量200条。这200条鱼将平均分配给每个组员。
    因而每个组员将另外得到40条鱼。因此，此轮中你最后一共有10+40=50条鱼。
</p>
    </div>
</div>

<p>如果你仍然不清楚，请举手，实验人员将单独给你解释。 </p>

{% formfield player.id_number %}

{% next_button %}

{% endblock %}