{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results of the Practice Round
{% endblock %}

{% block content %}
<!--
<p>
    Below are the extraction level for each group member:<br>
</p>

<table class="table">
  <tr>
      <th>Player</th>
      <th>Payoff</th>
  </tr>
  {% for other_player in group.get_players %}
      <tr>
          <td>{{ other_player.id_in_group }}</td>
          <td>{{ other_player.extraction }}</td>
      </tr>
  {% endfor %}
</table>
-->
<div class="card bg-light m-3">
    <div class="card-body">
<p>
 你捕捞了<b>{{player.extraction}}</b>条。<br>
你们组一共捕了<b>{{ group.tot_extraction }}</b>条。<br>
此轮最后，每个组员另外得到了<b>{{ group.individual_share }}</b>条。<br>
你此轮一共得到<b>{{ player.payoff }}</b>。
</p>
    </div>
</div>

<p>
    练习结束。请点击“下一步”开始正式的实验。
</p>
{% next_button %}

{% endblock %}


